.profile-pic {
    margin-top: 5px;
    border-radius: 50%;
    display: inline-block;
}

.author-name {
    overflow-wrap: normal;
    overflow: hidden;
    width: 100%;
    height: 38px;
    vertical-align: top;
    margin-top: 5px;
}

.comment {
    overflow-wrap: normal;
    overflow: hidden;
    font-weight: lighter;
    font-size: 14px;
    vertical-align: top;
    margin-top: -30px;
}